<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XsltCompiledTransform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <XsltCompiledTransform.Properties.Settings>
            <setting name="xmlFile" serializeAs="String">
                <value />
            </setting>
            <setting name="xsltFile" serializeAs="String">
                <value />
            </setting>
            <setting name="filePath" serializeAs="String">
                <value />
            </setting>
            <setting name="post_to_url" serializeAs="String">
                <value />
            </setting>
        </XsltCompiledTransform.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="AWSProfileName" value="profile1"/>
    <add key="AWSAccessKey" value="00D1y0000008jqPEAQ"/>
    <add key="AWSSecretKey" value="ZGka8PZdzah2mGK7M3eeqRYN7OejMNla"/>
  </appSettings>
</configuration>